body{
    font-family: Roboto;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em 3em;
    border: none;

    background-color: #5FD068;
    color:#F6FBF4;
    font-family: inherit;

    cursor: pointer;
}