body{
    font-family: Roboto;
    font-size: 3rem;

    color: #F6FBF4;
    background-color: #C2DED1;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em 3em;
    border: none;

    background-color: #5FD068;
    color: inherit;
    font-family: inherit;

    cursor: pointer;
}